{"seq":1, "type":"request","command":"open","arguments": {"file":"/home/pedro/Projects/gostack/projects/fastfeet/backend/src/app/controllers/UserController.js"}}

{"seq":2, "type":  "request", "command": "documentHighlights", "arguments": {"file" : "/home/pedro/Projects/gostack/projects/fastfeet/backend/src/app/controllers/UserController.js", "line": 4, "offset": 6, "filesToSearch": ["/home/pedro/Projects/gostack/projects/fastfeet/backend/src/app/controllers/UserController.js"]}}
